@using TimeAide.Web.Models;
@{
    List<CompanyContribution> companyContributionList = (List<CompanyContribution>)ViewBag.CompanyContributionList;
}

<div class="mt-2 p-1">
    <div class="alert alert-primary" style="text-align:center;background-color: #00c5fb;border: 1px solid #00c5fb;">
        <h4 style="display: inline;">Employee Default Contribution</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <hr>
</div>
<div class="modal-body pt-0">
    @foreach (var item in companyContributionList)
    {
        <div class="form-group row">
            <div class="col-md-1 mt-2">
                <input id="companyContributionId_@item.Id" name="compensationDefault" type="checkbox" />
            </div>
            <label class="col-md-4 col-form-label pl-0" id="lblContributionName_@item.Id">@item.CompanyContributionName </label>
        </div>
        <div id="divContributionDetail_@item.Id" style="display:none;">
            <div class="panel panel-default" style="margin-left:5px">
                <div class="panel-heading" style="padding-left:0px">@item.CompanyContributionName</div>
                <div class="panel-body">
                    <div class="form-group row">
                        <label class="col-md-2 col-form-label mt-2 pr-0">Start Date:<span class="text-danger">*</span></label>
                        <div class="col-md-4 mt-2">
                            <input type="datetime" id="StartDate_@item.Id" class="form-control" />
                        </div>
                        <label class="col-md-2 col-form-label mt-2 pr-0">End Date:</label>
                        <div class="col-md-4 mt-2">
                            <input type="datetime" id="EndDate_@item.Id" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-2 col-form-label mt-2 pr-0" style="margin-left:0px">Money Amount:<span class="text-danger">*</span></label>
                        <div class="col-md-4 mt-2">
                            <input type="text" id="MoneyAmount_@item.Id" class="form-control" />

                        </div>
                        <label class="col-md-2 col-form-label mt-2 pr-0"> Period Entry:</label>
                        <div class="col-md-4 mt-2">
                            @(Html.CustomDropDownList<TimeAide.Web.Models.CompensationPeriodEntry>("PeriodEntryId_"+@item.Id, null, null, false, null, htmlAttributes: new { @class = "form-control" }))
                        </div>
                    </div>
                </div>
            </div>
        </div>

    }
    <div class="submit-section mt-1">
        <button id="btnSaveDefaultContribution" class="btn btn-primary submit-btn">Save</button>
        <button id="btnCancel" class="btn btn-primary  submit-btn" data-dismiss="modal" aria-label="Close">Cancel</button>
    </div>

</div>

<script>
    // var selectedTypes = [];
    $(document).ready(function () {
        $('input[id*=Date]').each(function () {
            $(this).datetimepicker({ format: 'MM/DD/YYYY' });

        });
        $("input[name=compensationDefault]").change(function () {
            debugger;
            var compensationId = getElementTypeId(this);
            var state = $(this).is(":checked");
            if (state) {
                $("#divContributionDetail_" + compensationId).show();
            }
            else {
                $("#divContributionDetail_" + compensationId).hide();
            }
        });
        $("#btnSaveDefaultContribution").click(function () {
            debugger;
            var isValidated = true;
            var selectedContributionList = [];
            var selectedTypes = getSelectedContributions();
            if (selectedTypes.length == 0) {
                showAlertAutoHide("", "Error", "Please select the default compensation.");
                isValidated = false;
                return;
            }
            selectedTypes.forEach(function (typeId) {
                debugger;
                var validatedRecord = validateContributions(typeId);
                if (validatedRecord == false) {
                    var typeName = $("#lblContributionName_" + typeId).text();
                    var message = "Missing required field(s) for the selected compensation(" + typeName + ")";
                    showAlertAutoHide("", "Error", message);
                    isValidated = false;
                    return;
                }
                else {
                    selectedContributionList.push(validatedRecord);
                }
            });
            if (isValidated) {
                debugger
                selectedContributionList.forEach(function (item) {
                    saveContributionDefaults(item);
                });
                refreshEmployeeContributions();
                $("#myModal").modal("hide");
            }
        });
    });
    function getElementTypeId(element) {
        var id = $(element).attr("id");
        var compensationId = id.substring(id.indexOf("_") + 1, id.length);
        return compensationId;
    }
    function getSelectedContributions() {
        debugger;
        var selectedTypes = [];
        $("input[name='compensationDefault']").each(function () {
            debugger;
            if ($(this).is(":checked")) {
                var compensationId = getElementTypeId(this);
                selectedTypes.push(compensationId);
            }
        });
        return selectedTypes;
    }
    function validateContributions(id) {
        var isRequiredValidated = 0;
        var isValidated = true;
        var dataObj = new Object();
        dataObj.UserInformationId = $("#userID").val();
        dataObj.CompanyContributionId = id;
        dataObj.StartDate = $('#StartDate_' + id).val();
        dataObj.EndDate = $('#EndDate_' + id).val();
        dataObj.MoneyAmount = $('#MoneyAmount_' + id).val();
        dataObj.PeriodEntryId = $('#PeriodEntryId_' + id).val();

        if (dataObj != null) {
            isRequiredValidated += dataObj.CompanyContributionId.trim().length > 0 ? 1 : 0;
            isRequiredValidated += dataObj.StartDate.trim().length > 0 ? 1 : 0;
            isRequiredValidated += dataObj.MoneyAmount.trim().length > 0 ? 1 : 0;


            if (isRequiredValidated != 3) {
                isValidated = false;
                return isValidated;
            }
        }
        return dataObj;
    }
    function saveContributionDefaults(compensationData) {
        debugger;
        var alertID = "#";
        var userId = $("#userID").val();

        // ajax call for saving data
        $.ajax({
            type: "POST",
            url: "/EmployeeContribution/CreateDefaults",
            data: JSON.stringify(compensationData),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                //debugger;
                if (data.status == "Success") {
                    $("#myModal").modal("hide");
                    showAlertAutoHide("#", data.status, data.message);
                    //location.reload(true);
                    refreshEmployeeContributions();
                }
                else {
                    showAlertAutoHide(alertID, data.status, data.message);
                }
            }
            ,
            error: function (request, status, error) {
                alert('Error in CreateDefaultAccrualRule action call');
                return false;
            }
        });
    }
</script>
<style>
    #myModaldialog {
        width: 60%;
        max-width: 60% !important;
        /*width: 500px;
        max-width: 700px;*/
    }

    #divDdlPopupdialog {
        width: 50%;
        max-width: 50% !important;
        /*width: 500px;
        max-width: 700px;*/
    }
</style>


