
<link href="~/Content/jquery-ui.min.css" rel="stylesheet" />
<link href="~/Content/multi-select.css" rel="stylesheet" />
<script src="~/Scripts/jquery.multi-select.js"></script>
<style>

    ul.ui-front {
        z-index: 1100;
    }
</style>
<div id="AppraisalTemplateGoalCreateEdit_modal" class="modal custom-modal">
    <div class="modal-dialog modal-dialog-centered modal-mg">
        <div class="modal-content">

            <div class="mt-2 p-1">
                <div class="alert alert-primary" style="text-align:center;background-color: #00c5fb;border: 1px solid #00c5fb;">
                    <h4 style="display: inline;">Template Goal(s) - Add/Edit</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <hr>
            </div>
            <div class="modal-body pt-0">

                <div class="alert" style="display:none;" id="templateGoalCreateEditAlert">
                    <a href="javascript:void(0)" class="close" id="alertDismiss">&times;</a>
                    <strong>Alert!</strong><span class="ml-1"></span>
                </div>
                <div class="form-group row">
                    <div class="col-md-12 p-0">
                       
                        <div class="form-group row">
                            <label class="offset-md-1 col-md-5">Available List </label>
                            <label class="col-md-4">Template Goal(s)</label>
                            <div class="offset-md-1 col-md-10 mt-2">

                                @Html.DropDownList("TemplateGoalList",
                                    new MultiSelectList(ViewBag.AppraisalGoalItemList,
                                    "Value", "Text", ViewBag.SelectedTemplateGoals),
                               new
                               {
                                   multiple = "multiple",
                                   id = "TemplateGoalList",
                                   name = "GoalList[]"
                               })

                            </div>

                        </div>
                    </div>
                </div>
                <div class="submit-section mt-1">
                    <button id="btnSaveTemplateGoals" class="btn btn-primary submit-btn">Save</button>
                    <button id="btnCancel" class="btn btn-primary  submit-btn" data-dismiss="modal" aria-label="Close">Cancel</button>
                </div>

            
        </div>
    </div>
 </div>
</div>
<script>
    $(document).ready(function () {
        debugger;
        $('#TemplateGoalList').multiSelect({ keepOrder: false });        
        
        $("#btnSaveTemplateGoals").click(function () {
            debugger;
            var selectedGoalsStr = '';
            var selectedGoalList = $('#TemplateGoalList').val();
            if (selectedGoalList.length > 0) {
                selectedGoalsStr = selectedGoalList.length > 1 ? selectedGoalList.join(',') : selectedGoalList[0];
            }
            saveAppraisalTemplateGoalData(selectedGoalsStr);
        })
      

    });

</script>

