
<div style="max-height:750px; overflow-y:auto">
    <span style="font-size:small;"> Click on Tag to pick for template</span>
    <ul class="list-group" style="font-size:small;">
        <li class="list-group-item p-2"><a href="#" class="label label-primary" title="Click on">[EffectiveDate]</a></li>
        <li class="list-group-item p-2"><a href="#" class="label label-primary" title="Click on">[EffectiveDateSpa]</a></li>
        <li class="list-group-item p-2"><a href="#" class="label label-primary" title="Click on">[EmployeeId]</a></li>
        <li class="list-group-item p-2"><a href="#" class="label label-primary" title="Click on">[FirstName]</a></li>
        <li class="list-group-item p-2"><a href="#" class="label label-primary" title="Click on">[MiddleInitial]</a></li>
        <li class="list-group-item p-2"><a href="#" class="label label-primary" title="Click on">[FirstLastName]</a> </li>
        <li class="list-group-item p-2"><a href="#" class="label label-primary" title="Click on">[SecondLastName] </a> </li>
        <li class="list-group-item p-2"><a href="#" class="label label-primary" title="Click on">[ShortFullName]</a></li>
        <li class="list-group-item p-2"><a href="#" class="label label-primary" title="Click on">[Last4OfSSN]</a></li>
        <li class="list-group-item p-2"><a href="#" class="label label-primary" title="Click on">[CompanyName] </a> </li>
        <li class="list-group-item p-2"><a href="#" class="label label-primary" title="Click on">[CompanyLogo] </a> </li>
        <li class="list-group-item p-2"><a href="#" class="label label-primary" title="Click on">[HireDate]</a></li>
        <li class="list-group-item p-2"><a href="#" class="label label-primary" title="Click on">[HireDateSpa]</a></li>
        <li class="list-group-item p-2"><a href="#" class="label label-primary" title="Click on">[TerminationDate]</a></li>
        <li class="list-group-item p-2"><a href="#" class="label label-primary" title="Click on">[TerminationDateSpa]</a></li>
        <li class="list-group-item p-2"><a href="#" class="label label-primary" title="Click on">[Location]</a></li>
        <li class="list-group-item p-2"><a href="#" class="label label-primary" title="Click on">[Department]</a></li>
        <li class="list-group-item p-2"><a href="#" class="label label-primary" title="Click on">[SubDepartment]</a> </li>
        <li class="list-group-item p-2"><a href="#" class="label label-primary" title="Click on">[EmployeeType] </a> </li>
        <li class="list-group-item p-2"><a href="#" class="label label-primary" title="Click on">[EmploymentType]</a> </li>
        <li class="list-group-item p-2"><a href="#" class="label label-primary" title="Click on">[EmploymentStatus]</a> </li>
        <li class="list-group-item p-2"><a href="#" class="label label-primary" title="Click on">[Position] </a> </li>
        <li class="list-group-item p-2"><a href="#" class="label label-primary" title="Click on">[PayRate] </a> </li>
        <li class="list-group-item p-2"><a href="#" class="label label-primary" title="Click on">[PayFrequency] </a> </li>
        <li class="list-group-item p-2"><a href="#" class="label label-primary" title="Click on">[PeriodHours] </a> </li>
        <li class="list-group-item p-2"><a href="#" class="label label-primary" title="Click on">[CommissionRate] </a> </li>
        <li class="list-group-item p-2"><a href="#" class="label label-primary" title="Click on">[SigneeName]</a></li>
        <li class="list-group-item p-2"><a href="#" class="label label-primary" title="Click on">[SigneePosition]</a></li>
        <li class="list-group-item p-2"><a href="#" class="label label-primary" title="Click on">[Signature]</a></li>
    </ul>
</div>
