<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="AppUrl_TimeAideQCG_2706" value="http://localhost:7730/" />
    <add key="TestDate" value="2023/10/24" />
    <add key="Host" value="smtp-relay.sendinblue.com" />
    <add key="ProviderAccount" value="alexrt@identechinc.com" />
    <add key="FromMail" value="timeaideweb@timeaide.net" />
    <add key="Password" value="LHBZ02TksQJEcrS1" />
    <add key="SenderName" value="IdenTech" />
    <add key="PortNumber" value="587" />
    <add key="EnableSsl" value="true" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <!--<add name="TimeAideContext" connectionString="data source=.;initial catalog=TimeAideMultiClientQC8;User ID=TimeAideDbAdmin;Password=@Dmin1;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
	  <add name="TimeAideContext" connectionString="data source=DSL-WAQARQ;initial catalog=TimeAideSouthern_10262023;User ID=sa;Password=@PasswordWQ;MultipleActiveResultSets=True;App=EntityFramework;Integrated Security=True" providerName="System.Data.SqlClient" />
	  <!--<add name="TimeAideContext" connectionString="data source=.\SQLEXPRESS;initial catalog=TimeAideToperbee20220926;User ID=TimeAideDbAdmin;Password=@Dmin1;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.1" newVersion="6.0.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>