@model TimeAide.Web.Models.TerminationType
<div style="padding:10px">
    @Html.Partial("_CreatePageTitleView")
    <dl class="dl-horizontal">
        <dt>
            Termination Type
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TerminationTypeName)
        </dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>
            Description
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TerminationTypeDescription)
        </dd>

    </dl>
</div>
<p>
    <button type="submit" class="btn btn-primary submit-btn" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
</p>
