
@{
    ViewBag.Title = "Schedule";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1knyvQ9VyZJpc/ALb4P0r6ubwVPSGB2GvjeoMAJJImBG12TiaQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" integrity="sha512-mSYUmp1HYZDFaVKK//63EcZq4iFWFjxSL+Z3T/aCt4IO9Cejm03q3NKKYN6pFQzY0SBOr8h+eCIAZHPXcpZaNw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<!-- Page Header -->
<div class="page-header">
    <div class="row align-items-center">
        <div class="col-sm-12">
            <h3 class="page-title">Self Service Schedule</h3>

        </div>

    </div>
</div>
@Html.Hidden("selfServiceSchBeforeDD", (string)ViewBag.selfServiceSchBeforeDD)
@Html.Hidden("selfServiceSchAfterDD", (string)ViewBag.selfServiceSchAfterDD)
@Html.Hidden("userId", (int)ViewBag.userId)

<div class="row filter-row">
    <div class="col-sm-3 col-md-3">
        <div class="form-group form-focus">
            <input id="ScheduleDte" type="text" class="form-control floating" value="@DateTime.Today.ToString("MM/dd/yyyy")">
            <label class="focus-label">Schedule From/To Date</label>
        </div>
    </div>
    <div class="col-sm-2 col-md-2">
        <a href="javascript: getSelfServiceScheduleDetail();" class="btn btn-success btn-block"> View Schedule </a>
    </div>
</div>



<div style="padding:5px; padding-top:0px;">
    <div style="font-size: 90%;">
        <div class="form-group row mb-0">
            <div id="divLoadingSelfServiceSchedule" class="align-content-md-center">
                <img src="~/Content/Themes/assets/img/ajax-loading.gif" width="24" height="24" />
            </div>
            <div class="panel panel-default" style="width:100%;margin-left:5px">
                <div class="panel-heading" style="padding-left:10px">
                    Schedule View

                </div>
                <div class="panel-body">
                    <div id="divSelfServiceScheduleView">
                        View Schedule Detail
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>



<script>
    //JS for Applicant main page
    var alertID = null;
    $(document).ready(function () {
        debugger;
        //Default User List on list view
        $("#divLoadingSelfServiceSchedule").hide();
        getSelfServiceScheduleDetail();

        var beforVal = $("#selfServiceSchBeforeDD").val();
        var afterVal = $("#selfServiceSchAfterDD").val();
        $('#ScheduleDte').datepicker({
            //autoclose: true,

            format: 'mm/dd/yyyy',
            startDate: beforVal,
            endDate: afterVal
        });
    });

    function getSelfServiceScheduleDetail() {
        $("#divLoadingSelfServiceSchedule").show();
        debugger;
        var filterObject = new Object();
        var scheduleDte = $('#ScheduleDte').val() + " 12:00:00 AM";        
        filterObject.ScheduleDate = scheduleDte;
        filterObject.EmployeeId = $("#userId").val();
        $.ajax({
            type: "POST",
            url: '/EmployeeAttendanceSchedule/GetSelfServiceScheduleDetail',
            data: JSON.stringify(filterObject),

            contentType: "application/json; charset=utf-8",
            success: function (data) {
                debugger;
                $("#divSelfServiceScheduleView").html(data);
                $("#divLoadingSelfServiceSchedule").hide();
            },
            error: function () {
                // displayWarningMessage(data.ErrorMessage);
            }
        });
    }
    function runLocalReport() {
        debugger;
        var dataObj = new Object();
        dataObj.ReportId = 27;
        dataObj.CriteriaType = 2; // 2 is used to run local report
        dataObj.AttendanceSchId = $("#schId").val();

        $.ajax({
            type: "POST",
            url: "/Reports/AdhocReportPopup",
            data: JSON.stringify(dataObj),
            contentType: "application/json; charset=utf-8",
            // dataType: "json",
            success: function (data) {
                debugger;
                //console.log(data);
                $("#divAdhocReportPopup").html(data);
                // setTimeout(function () { $('#divLoadingReport').hide(); }, 3000);
                $("#AdhocReportPopup_modal").modal('show');
            },
            error: function (request, status, error) {
                alert('Error in in runing  report data');
                return false;
            }
        });
    }

</script>

