@{
    ViewBag.Title = "Home Page";
}

<!-- Page Header -->
<div class="page-header">

</div>
<!-- /Page Header -->


<script>
    $(document).ready(function () {
        ChangeRequestApproval('','@ViewBag.ApprovalUrl');
    });
</script>
