@model IEnumerable<TimeAide.Web.Models.CompanyContributionCompensationExclusion>
<div class="form-group row">
    <div class="col-md-12">
        <table class="table table-striped custom-table table-nowrap mb-0" id="tblUser">
            <thead>
                <tr>
                    <th>
                        Compensation
                    </th>
                    <th>
                        Description
                    </th>
                    <th>

                    </th>
                </tr>
            </thead>
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.CompanyCompensation.CompensationName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CompanyCompensation.Description)
                        </td>
                        <td>
                        </td>
                    </tr>
                }
            }
        </table>
    </div>
</div>